# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
local.properties
.gradle/
.idea/
acl-list/build/
authorizer/build/
basicgraphs/build/
eth-integration/build/
starterapp/build/
test-env/build/

!gradle/wrapper/gradle-wrapper.jar
basic-graphs/build/
acllist/build/
ethintegration/build/
starter-app/build/
acllist/out/
authorizer/out/
basicgraphs/out/
ethintegration/out/
starterapp/out/
testenv/build/
testenv/out/
giis/build/tmp/compileJava/previous-compilation-data.bin
giis/build/
